body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:  #eee;
    color: black;
}

.cabecalho{
    background-color: #FFCF8F;
    height: 40px;
    min-height: 20px;
    max-height: 100px;
    text-align:center;
    position:absolute;
    width: 100%;
}
.conteudo{
    
    padding-left: 150px;
    background: white;
    height: 100%;
}

/*menu LATERAL*/
#nav-lateral {
    background-color: #1E7BB2;
    color: white;
    float: left;
    overflow: auto;
    position: absolute;
    height: 100%;
}

#nav-lateral a, ul >li {
    list-style: none;
    padding-top: 5px;
}

#nav-lateral ul {
    margin-right: 45px;
    margin-left: -25px;
    padding-right: -15px;
}

#nav-lateral ul li{
    margin-top: 10px;
    width: 200px;
}
.pVertical{
    border-style: groove;
    max-height: 300px;
    height: 125px;
}